@import "tailwindcss";

:root {
  --background: #181C25;
  --foreground: #DBDCE0;
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: serif;
}

/* Vignette effect */
.vignette-container {
  position: relative;
}

.vignette-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 25px 25px rgba(24,27,36,0.9);
  border-radius: 0.375rem; /* matches rounded-md */
  pointer-events: none;
  z-index: 10;
}
